/******************************************

background = #eeeeee/*background*color*/ /*
box background = #ffffff/*box*background*color*/ /*
text = #000000/*color*/ /*
links = #0080ff/*links*/ /*
error borders = #ff0000/*error*borders*/ /*
error text = #990000/*error*color*/ /*
warning background = #ffff00/*warning*background*color*/ /*
link hovers = #ff8000/*link*hover*color*/ /*
borders = #ff8000/*border*color*/ /*
headings = #00ff00/*heading*color*/ /*
selected nav color = #ff0080/*selected*nav*color*/ /*
selected nav background = transparent/*selected*nav*background*color*/ /*

******************************************/
@media screen{

body{font-family:Verdana,Sans-serif;line-height:1.2em;background-color:#eeeeee/*background*color*/;fixed;text-align:center;color:#000000/*color*/;margin:0 10px 0 10px;}
a, a:link, a:visited{color:#0080ff/*links*/;text-decoration:none;}
a:hover{color#ff8000/*link*hover*color*/;text-decoration:underline;}
input, textarea{background-color:#ffffff/*box*background*color*/;color:#000000/*color*/;}
h1{font-size:1.40em;color:#00ff00/*heading*color*/;text-decoration:none;}
h2{font-size:1.35em;color:#00ff00/*heading*color*/;text-decoration:none;}
h3{font-size:1.30em;color:#00ff00/*heading*color*/;text-decoration:none;}
h4{font-size:1.25em;color:#00ff00/*heading*color*/;text-decoration:none;}
h5{font-size:1.20em;color:#00ff00/*heading*color*/;text-decoration:none;}
h6{font-size:1.15em;color:#00ff00/*heading*color*/;text-decoration:none;}
p,ol,ul,blockquote,p ul,p ol,ol ol,ul ul,ul ol,ol ul,table{font-size:1.0em;}
td, th{vertical-align:top;}
img{border:none;}
pre,code,pre code{font-size:1.1em;font-family:"Lucida Console";}

.sitebrowser-page-container{width:auto;}
.sitebrowser-page-overall-outer{width:100%;margin-right:auto;margin-left:0;margin-top:10px;padding:0px;text-align:left;
  font-size:x-small;
  voice-family:"\"}\"";
  voice-family:inherit;
  font-size:small;}
.sitebrowser-page-overall-inner{width:auto;background-color:transparent;padding:0;border:0 solid #ff8000/*border*color*/;font-size:0.9em;}

.sitebrowser-header-container{width:auto;}
.sitebrowser-header-overall-outer{float:left;width:100%;}
.sitebrowser-header-overall-inner{width:auto;color:#000000/*color*/;background:none;}
.sitebrowser-header-column1-outer{float:left;width:350px;}/* adjust this width to match your logo if you are using one */
.sitebrowser-header-column2-outer{float:right;}
.sitebrowser-header-column3-outer{float:right;width:400px;}
.sitebrowser-header-column1-inner{padding:5px;}
.sitebrowser-header-column2-inner{padding:5px;}
.sitebrowser-header-column3-inner{padding:5px;text-align:right;}
.sitebrowser-header-container a:link,
.sitebrowser-header-container a:visited,
.sitebrowser-header-container a:active,
.sitebrowser-header-container a:hover{color:#0080ff/*links*/;}
.sitebrowser-header-container a:active,
.sitebrowser-header-container a:hover{color:#ff8000/*link*hover*color*/;}

/* Global Nav */
.sitebrowser-global-navigation-container{width:auto;}
.sitebrowser-global-navigation-overall-outer{float:left;width:100%;background:none;background-color:#ffffff/*box*background*color*/;font-size:1.1em;border:2px solid #ff8000/*border*color*/;}
.sitebrowser-global-navigation-overall-inner{width:auto;padding-top:5px}
.sitebrowser-global-navigation-container ul{margin:0;padding:0;list-style-type:none;float:left;}
.sitebrowser-global-navigation-container .sitebrowser-nav-item{display:inline;float:left;margin:0;padding:0;text-indent:0;}

/* Global Nav Links */
.sitebrowser-global-navigation-container a:link,
.sitebrowser-global-navigation-container a:visited,
.sitebrowser-global-navigation-container a:active,
.sitebrowser-global-navigation-container a:hover{background-color:#ffffff/*box*background*color*/;color:#0080ff/*links*/;border:0 solid #ff8000/*border*color*/;display:block;padding:2px 5px 2px 5px;margin-left:3px;white-space:nowrap;text-decoration:none;font-weight:bold;}

.sitebrowser-global-navigation-container a:active,
.sitebrowser-global-navigation-container a:hover{background-color:#ffffff/*box*background*color*/;color:#ff8000/*link*hover*color*/;border:0 solid #ff8000/*border*color*/;}

/* Selected Global Nav Links */
.sitebrowser-global-navigation-container .sitebrowser-nav-item-selected a:link,
.sitebrowser-global-navigation-container .sitebrowser-nav-item-selected a:visited,
.sitebrowser-global-navigation-container .sitebrowser-nav-item-selected a:active,
.sitebrowser-global-navigation-container .sitebrowser-nav-item-selected a:hover{background-color:transparent/*selected*nav*background*color*/;color:#ff0080/*selected*nav*color*/;border:0 solid #ff8000/*border*color*/;}

.sitebrowser-global-navigation-container .sitebrowser-nav-item-selected a:active,
.sitebrowser-global-navigation-container .sitebrowser-nav-item-selected a:hover{background-color:transparent/*selected*nav*background*color*/;color:#ff0080/*selected*nav*color*/;border:0 solid #ff8000/*border*color*/;}

/* Global SubNav */
.sitebrowser-global-navigation-container .sitebrowser-nav-item-subset-1{border:solid #ff8000/*border*color*/;border-width:0 2px 2px 2px;background-color:#ffffff/*box*background*color*/;color:#0080ff/*links*/;position:absolute;z-index:1;margin-left:6px;}
.sitebrowser-global-navigation-container .sitebrowser-nav-item-subset-1 .sitebrowser-nav-item{margin:0;padding:0;display:block;width:100%;float:none;}

/* Global SubNav Links */
.sitebrowser-global-navigation-container .sitebrowser-nav-item .sitebrowser-nav-item-subset-1 a,
.sitebrowser-global-navigation-container .sitebrowser-nav-item .sitebrowser-nav-item-subset-1 a:visited,
.sitebrowser-global-navigation-container .sitebrowser-nav-item .sitebrowser-nav-item-subset-1 a:active,
.sitebrowser-global-navigation-container .sitebrowser-nav-item .sitebrowser-nav-item-subset-1 a:hover{background-color:#ffffff/*box*background*color*/;color:#0080ff/*links*/;margin:0;border:0 solid #ff8000/*border*color*/;}

.sitebrowser-global-navigation-container .sitebrowser-nav-item .sitebrowser-nav-item-subset-1 a:active,
.sitebrowser-global-navigation-container .sitebrowser-nav-item .sitebrowser-nav-item-subset-1 a:hover{background-color:#ffffff/*box*background*color*/;color:#ff8000/*link*hover*color*/;}

.sitebrowser-global-navigation-container .sitebrowser-nav-item-selected .sitebrowser-nav-item-subset-1 a,
.sitebrowser-global-navigation-container .sitebrowser-nav-item-selected .sitebrowser-nav-item-subset-1 a:visited,
.sitebrowser-global-navigation-container .sitebrowser-nav-item-selected .sitebrowser-nav-item-subset-1 a:active,
.sitebrowser-global-navigation-container .sitebrowser-nav-item-selected .sitebrowser-nav-item-subset-1 a:hover{background-color:#ffffff/*box*background*color*/;color:#0080ff/*links*/;margin:0;border:0 solid #ff8000/*border*color*/;}

.sitebrowser-global-navigation-container .sitebrowser-nav-item-selected .sitebrowser-nav-item-subset-1 a:active,
.sitebrowser-global-navigation-container .sitebrowser-nav-item-selected .sitebrowser-nav-item-subset-1 a:hover{background-color:#ffffff/*box*background*color*/;color:#ff8000/*link*hover*color*/;}

/* Selected Global SubNav Links */
.sitebrowser-global-navigation-container .sitebrowser-nav-item-subset-1 .sitebrowser-nav-item-selected a,
.sitebrowser-global-navigation-container .sitebrowser-nav-item-subset-1 .sitebrowser-nav-item-selected a:visited,
.sitebrowser-global-navigation-container .sitebrowser-nav-item-subset-1 .sitebrowser-nav-item-selected a:active,
.sitebrowser-global-navigation-container .sitebrowser-nav-item-subset-1 .sitebrowser-nav-item-selected a:hover{background-color:transparent/*selected*nav*background*color*/;color:#ff0080/*selected*nav*color*/;margin:0;border:0 solid #ff8000/*border*color*/;}

.sitebrowser-global-navigation-container .sitebrowser-nav-item-subset-1 .sitebrowser-nav-item-selected a:active,
.sitebrowser-global-navigation-container .sitebrowser-nav-item-subset-1 .sitebrowser-nav-item-selected a:hover{background-color:transparent/*selected*nav*background*color*/;color:#ff0080/*selected*nav*color*/;}

/* Local Nav */
#block-sitebrowser-1{background-color:#ffffff/*box*background*color*/;border:2px solid #ff8000/*border*color*/;padding:6px;margin-bottom:3px;}
#block-sitebrowser-1 ul{margin:0;padding:0;width:auto;list-style-type:none;border:0 solid #ff8000/*border*color*/;}

/* Local Nav Links */
#block-sitebrowser-1 a:link,
#block-sitebrowser-1 a:visited,
#block-sitebrowser-1 a:active,
#block-sitebrowser-1 a:hover{background-color:transparent;color:#0080ff/*links*/;line-height:0.95em;display:block;margin:0;border:0 solid #ff8000/*border*color*/;text-align:left;text-decoration:none;padding:0.5em 5px 0.5em 5px;}
#block-sitebrowser-1 a:active,
#block-sitebrowser-1 a:hover{background-color:transparent;color:#ff8000/*link*hover*color*/;border:0 solid #ff8000/*border*color*/;}

/* Selected Local Nav Links */
#block-sitebrowser-1 .sitebrowser-nav-item-selected a:link,
#block-sitebrowser-1 .sitebrowser-nav-item-selected a:visited,
#block-sitebrowser-1 .sitebrowser-nav-item-selected a:active,
#block-sitebrowser-1 .sitebrowser-nav-item-selected a:hover{background-color:transparent/*selected*nav*background*color*/;color:#ff0080/*selected*nav*color*/;border:0 solid #ff8000/*border*color*/;}

#block-sitebrowser-1 .sitebrowser-nav-item-selected a:active,
#block-sitebrowser-1 .sitebrowser-nav-item-selected a:hover{background-color:transparent/*selected*nav*background*color*/;color:#ff0080/*selected*nav*color*/;border:0 solid #ff8000/*border*color*/;}

/* Local SubNav */
#block-sitebrowser-1 .sitebrowser-nav-item-subset-1{width:170px;display:inline;position:absolute;border:2px solid #ff8000/*border*color*/;background:none;background-color:#ffffff/*box*background*color*/;color:#000000/*color*/;z-index:2;margin-left:100px;margin-top:-2em;}
#block-sitebrowser-1 .sitebrowser-nav-item-subset-1 .sitebrowser-nav-item{margin:0;padding:0;border:0 solid #ff8000/*border*color*/;background:none;display:block;width:100%;float:none;}

/* Local SubNav Links */
#block-sitebrowser-1 .sitebrowser-nav-item .sitebrowser-nav-item-subset-1 a,
#block-sitebrowser-1 .sitebrowser-nav-item .sitebrowser-nav-item-subset-1 a:visited,
#block-sitebrowser-1 .sitebrowser-nav-item .sitebrowser-nav-item-subset-1 a:active,
#block-sitebrowser-1 .sitebrowser-nav-item .sitebrowser-nav-item-subset-1 a:hover{background-color:#ffffff/*box*background*color*/;color:#0080ff/*links*/;}

#block-sitebrowser-1 .sitebrowser-nav-item .sitebrowser-nav-item-subset-1 a:active,
#block-sitebrowser-1 .sitebrowser-nav-item .sitebrowser-nav-item-subset-1 a:hover{background-color:#ffffff/*box*background*color*/;color:#ff8000/*link*hover*color*/;}

#block-sitebrowser-1 .sitebrowser-nav-item-selected .sitebrowser-nav-item-subset-1 a,
#block-sitebrowser-1 .sitebrowser-nav-item-selected .sitebrowser-nav-item-subset-1 a:visited,
#block-sitebrowser-1 .sitebrowser-nav-item-selected .sitebrowser-nav-item-subset-1 a:active,
#block-sitebrowser-1 .sitebrowser-nav-item-selected .sitebrowser-nav-item-subset-1 a:hover{background-color:#ffffff/*box*background*color*/;color:#0080ff/*links*/;}

#block-sitebrowser-1 .sitebrowser-nav-item-selected .sitebrowser-nav-item-subset-1 a:active,
#block-sitebrowser-1 .sitebrowser-nav-item-selected .sitebrowser-nav-item-subset-1 a:hover{background-color:#ffffff/*box*background*color*/;color:#ff8000/*link*hover*color*/;}

/* Selected Local SubNav Links */
#block-sitebrowser-1 .sitebrowser-nav-item-subset-1 .sitebrowser-nav-item-selected a,
#block-sitebrowser-1 .sitebrowser-nav-item-subset-1 .sitebrowser-nav-item-selected a:visited,
#block-sitebrowser-1 .sitebrowser-nav-item-subset-1 .sitebrowser-nav-item-selected a:active,
#block-sitebrowser-1 .sitebrowser-nav-item-subset-1 .sitebrowser-nav-item-selected a:hover{background-color:transparent/*selected*nav*background*color*/;color:#ff0080/*selected*nav*color*/;}

#block-sitebrowser-1 .sitebrowser-nav-item-subset-1 .sitebrowser-nav-item-selected a:active,
#block-sitebrowser-1 .sitebrowser-nav-item-subset-1 .sitebrowser-nav-item-selected a:hover{background-color:transparent/*selected*nav*background*color*/;color:#ff0080/*selected*nav*color*/;}

.sitebrowser-middle-container{width:auto;}
.sitebrowser-middle-overall-outer{float:left;width:100%;}
.sitebrowser-middle-overall-inner{width:auto;}
.sitebrowser-middle-bg-c1{float:right;width:100%;background:transparent;}
.sitebrowser-middle-bg-c2{float:right;width:100%;}
.sitebrowser-middle-bg-c3{float:right;width:100%;background:transparent;}
.sitebrowser-middle-grouper-1-2{margin-right:185px;}
.sitebrowser-middle-column1-outer{float:left;width:170px;}
.sitebrowser-middle-column2-outer{margin-left:170px;}
.sitebrowser-middle-column3-outer{float:right;width:185px;}
.sitebrowser-middle-column1-inner{padding:5px 9px 0 6px;color:#000000/*color*/;}
.sitebrowser-middle-column2-inner{padding:5px  9px 0 9px;color:#000000/*color*/;}
.sitebrowser-middle-column2-inner-fix{width:300px}
.sitebrowser-middle-column3-inner{padding:5px 6px 0 9px;color:#000000/*color*/;}

.sitebrowser-middle-column1-inner a:link,
.sitebrowser-middle-column1-inner a:visited{color:#0080ff/*links*/;}
.sitebrowser-middle-column1-inner a:active,
.sitebrowser-middle-column1-inner a:hover{color:#ff8000/*link*hover*color*/;}

.sitebrowser-middle-column2-inner a:link,
.sitebrowser-middle-column2-inner a:visited{color:#0080ff/*links*/;}
.sitebrowser-middle-column2-inner a:active,
.sitebrowser-middle-column2-inner a:hover{color:#ff8000/*link*hover*color*/;}

.sitebrowser-middle-column3-inner a:link,
.sitebrowser-middle-column3-inner a:visited{color:#0080ff/*links*/;}
.sitebrowser-middle-column3-inner a:active,
.sitebrowser-middle-column3-inner a:hover{color:#ff8000/*link*hover*color*/;}

.sitebrowser-footer-container{width:auto;}
.sitebrowser-footer-overall-outer{float:left;width:100%;background-color:#ffffff/*box*background*color*/;margin-top:2px;}
.sitebrowser-footer-overall-inner{;width:auto;border:2px solid #ff8000/*border*color*/;padding:5px;background-color:transparent;color:#000000/*color*/;text-align:center;}
.sitebrowser-footer-container a:link,
.sitebrowser-footer-container a:visited{color:#0080ff/*links*/;}
.sitebrowser-footer-container a:active,
.sitebrowser-footer-container a:hover{color:#ff8000/*link*hover*color*/;}

.sitebrowser-search_box,.sitebrowser-secondary_links{display:inline;float:left;}
.sitebrowser-clear{clear:both;}
.sitebrowser-styled-table{border-collapse:collapse;}
.sitebrowser-styled-table, .sitebrowser-styled-table td, .sitebrowser-styled-table th{border:2px solid #ff8000/*border*color*/;}
.sitebrowser-styled-table td, .sitebrowser-styled-table th{padding:2px 4px 2px 4px;}

.sitebrowser-content-plus{background-color:#ffffff/*box*background*color*/;padding-left:5px;padding-right:5px;float:left;width:100%;border:solid #ff8000/*border*color*/;border-width:2px;}
.block-user{background-color:#ffffff/*box*background*color*/;padding-left:4px;border:solid #ff8000/*border*color*/;border-width:2px;}

.sitebrowser-mission{background-color:#ffffff/*box*background*color*/;padding-left:5px;padding-right:5px;margin-top:10px;float:left;width:100%;border:solid #ff8000/*border*color*/;border-width:2px;}

.sitebrowser-site_name a,.sitebrowser-site_name a:visited,.sitebrowser-site_name a:hover,.sitebrowser-site_name a:active{font-size:1.90em;color:#00ff00/*heading*color*/;font-weight:bold;text-decoration:none;}
.sitebrowser-content{float:left;width:100%;}
.sitebrowser-content .newspaper-column{float:left;max-width:440px;width:expression(document.body.clientWidth > 800? "440px":"auto" );}

ul.sitebrowser-term_list{margin-left:0;padding-left:0;list-style:none;}
ul.sitebrowser-term_list li{padding-left:42px;background-image:url(images/folder_brown_40x30.png);background-repeat:no-repeat;background-position:0 0px;min-height:32px;}
ul.sitebrowser-node_list{margin-left:0;padding-left:0;list-style:none;}
ul.sitebrowser-node_list li{padding-left:25px;background-image:url(images/paper_23x30.png);background-repeat:no-repeat;background-position:0 0px;min-height:32px;}

.sitebrowser-content .taxonomy{display:none;}
.sitebrowser-php-code{background-color:#ffffff/*box*background*color*/;color:#000000/*color*/;font-size:1.1em;font-family:"Lucida Console";}


ul.tabs, ul.tabs li, ul.tabs li a, ul.tabs li.active, ul.tabs li.active a.active{background-color:#ffffff/*box*background*color*/;}
tr.even, tr.odd{background-color:#ffffff/*box*background*color*/;border-bottom:2px solid #ff8000/*border*color*/;padding:0.1em 0.6em;}
td.active{background-color:#ffffff/*box*background*color*/;color:#ff0080/*selected*nav*color*/}
tbody{border-top:2px solid #ff8000/*border*color*/;}
tbody th{border-bottom:2px solid #ff8000/*border*color*/;}
thead th{border-bottom:2px solid #ff8000/*border*color*/;}
.error{border:2px solid #ff0000/*error*borders*/;}
div.error{border:2px solid #ff0000/*error*borders*/;background-color:#ffffff/*box*background*color*/;color:#990000/*error*color*/;}
div.error, tr.error{background-color:#ffffff/*box*background*color*/;color:#990000/*error*color*/;}
div.warning, tr.warning{background:#ffff00/*warning*background*color*/;}
div.ok, tr.ok{background-color:#ffffff/*box*background*color*/;}
.item-list .icon{color:#000000/*color*/;}
.form-item input.error, .form-item textarea.error, .form-item select.error{border:2px solid #0080ff/*links*/;}
.marker, .form-required{color:#000000/*color*/;}
li a.active{color:#ff0080/*selected*nav*color*/}
td.menu-disabled{}
ul.primary{border-bottom:2px solid #ff8000/*border*color*/;}
ul.primary li a{background-color:#ffffff/*box*background*color*/;border:solid #ff8000/*border*color*/;border-width:2px;border-style:solid solid none solid;}
ul.primary li.active a{background-color:#ffffff/*box*background*color*/;border:2px solid #ff8000/*border*color*/;border-bottom:#ff8000/*border*color*/ 2px solid;color:#ff0080/*selected*nav*color*/}
ul.primary li a:hover{background-color:#ffffff/*box*background*color*/;border:solid #ff8000/*border*color*/;border-bottom-color:#ff8000/*border*color*/;}
ul.secondary{border-bottom:2px solid #ff8000/*border*color*/;}
ul.secondary li{border-right:2px solid #ff8000/*border*color*/;}
ul.secondary a{padding:0;text-decoration:none;}
ul.secondary a.active{border-bottom:4px solid #ff8000/*border*color*/;color:#ff0080/*selected*nav*color*/;}
#autocomplete li{background-color:#ffffff/*box*background*color*/;color:#000000/*color*/;}
#autocomplete li.selected{background-color:#ffffff/*box*background*color*/;color:#000000/*color*/;}
tr.selected td{background-color:#ffffff/*box*background*color*/;}
.block-block{background-color:#ffffff/*box*background*color*/;margin-bottom:3px;padding-left:4px;border:2px solid #ff8000/*border*color*/;}
ul.links li{border-right:2px solid #ff8000/*border*color*/;}
ul.links li.last{border:none;}
#search label{display:none;}

.sitebrowser_edit a, .sitebrowser_edit a:visited, .sitebrowser_edit a:link, .sitebrowser_edit a:hover{color:#ffffff/*box*background*color*/;}

}

